@use "../variables";
@use "../mixins";
@use "../base";

.partners {
  background: linear-gradient(
    177.96deg,
    #6f6f6f 1.72%,
    rgba(255, 255, 255, 0.43) 98.63%
  );

  padding: 25px 16px 55px 16px; 

  @include mixins.responsive(variables.$large){
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  } 

  &__title {
    font-family: variables.$font-abril-fatface;
    color: variables.$black-900;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
  }

  &__wrapper {
  }
  .block-partners {
    list-style: none;
    padding-inline-start: 0px;
    margin-top: 32px;

    @include mixins.responsive(variables.$large){
        display:flex;
    
      } 

    li {
      display: none;
      &:first-child {
        display: block;
      }

      @include mixins.responsive(variables.$large){
        display:block;
    
      } 

    }

    &__items {
      height: 103px;
      // height: 100%;
      display: flex;
      width: 100%;
      align-items: center;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      text-decoration: none;
      text-transform: uppercase;

      @include mixins.responsive(variables.$large){
       max-width: 328px;
       max-height: 103px;
    
      }

      span::first-letter {
        font-size: 47px;
      }
      

      &--leftradius {
        border-radius: 88.9758px 14.2361px 14.2361px 88.9758px;
        padding-left: 7px;
        

        .bg-logo {
          margin-right: 25px;
        }
      }

      &--rightradius {
        border-radius: 14.2361px 88.9758px 88.9758px 14.2361px;
        padding-right: 7px;
        display: flex;
        justify-content: end;

        .bg-logo{
            margin-left: 25px;
        }
      }

      &--rightradius, &--leftradius{
        @include mixins.responsive(variables.$large){
            border-radius: 1000px;
           }
      }

      .bg-logo {
        width: 88.98px;
        height: 88.98px;
        background: rgba(255, 255, 255, 0.5);
        border: 0.889758px solid #ffffff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

//   @include mixins.responsive(variables.$large) {
//     padding-left: 32px;
//     padding-right: 50px;
//   }
}
